@media screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    /* section #demo */

    #demo {
        padding: 0;
        margin-top: 100px;
    }

    #demo .col {
        width: calc(100% / 3 - 40px);
        margin: 20px;
    }

    #demo .large-col {
        width: calc(100% /3 *2 - 40px);
        margin: 20px;
    }

    #demo .card {
        max-width: 100%;
    }

    #demo .large-card {
        max-width: 100%;
        align-items: flex-start;
        padding: 30px;
    }

    #demo .d-flex-col {
        align-items: flex-start;
    }

    #demo .demo-img {
        margin-bottom: -30px;
    }

    /* section #planning */

    #planning {
        padding: 0;
    }

    #planning .col {
        margin: 20px;
    }

    /* section #testimonials */



    #testimonials figure {
        margin: 0;
        width: 200px;
        height: 200px;
    }

    #testimonials .card-text {
        max-width: 70%;
        text-align: left;
        padding-left: 50px;

    }

    /* section #work-with-us */

    #work-with-us .row {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    #work-with-us .col {
        width: calc(100% / 2 - 40px);
        margin: 20px;
    }

    #about-us .container {
        display: flex;
    }

    .about-us-text {
        width: 70%;
        padding-right: 60px;
    }

    .about-us-side {
        width: 30%;
    }
}




@media screen and (min-width: 992px) {

    /* header */

    header .nav-bar {
        display: inline-block;
    }

    header nav {
        display: none;
    }

    /* #demo section */



    #demo .large-card {
        flex-direction: row;
    }

    #demo .demo-img {
        align-self: flex-end;

        margin-bottom: -30px;
    }

    #demo .large-card p {
        width: 70%;
    }

    /* section #planning */

    #planning .col {
        max-width: calc(100% / 2 - 40px)
    }

    #planning .bgc-white img {
        max-width: 50%;
    }

    #planning .row {
        width: 100%;
        align-items: flex-end;
    }

    /* section #work-with-us */

    #work-with-us .col {
        width: calc(100% / 3 - 60px);
    }

}