@media screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    /* section #demo */

    #demo {
        padding: 0;
    }

    #demo .col {
        width: calc(100% / 3 - 40px);
        margin: 20px;
    }

    #demo .large-col {
        width: calc(100% /3 *2 - 40px);
        margin: 20px;
    }

    #demo .card {
        max-width: 100%;
    }

    #demo .large-card {
        max-width: 100%;
    }

    /* section #planning */

    #planning {
        padding: 0;
    }

    #planning .col {
        margin: 20px;
    }

    /* section #testimonials */

    #testimonials figure {
        margin: 0;
    }

    /* section #work-with-us */

    #work-with-us .row {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    #work-with-us .col {
        width: calc(100% / 2);
    }
}




@media screen and (min-width: 992px) {

    /* header */

    header .nav-bar {
        display: inline-block;
    }

    header nav {
        display: none;
    }

    /* section #planning */

    #planning .col {
        max-width: calc(100% / 2 - 40px)
    }

    #planning .row {
        width: 100%;
    }

    /* section #work-with-us */

    #work-with-us .col {
        width: calc(100% / 3);
    }

}