/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    padding: 50px 30px;
}

body {
    margin-top: 80px;
    font-family: 'PT Sans', sans-serif;
}

h3 {
    font-size: 32px;
}

/* roots */

:root {
    --purple: #9792E4;
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --orange: #FDC15F;
    --black: #333333;
    --gray: #5A6E7F;
}

/* utils */

.debug .borders {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.col {
    width: 100%;
}

.btn-purple,
.bgc-purple {
    background-color: var(--purple);
}

.btn-blue,
.bgc-blue {
    background-color: var(--blue);
}

.bgc-lightblue {
    background-color: var(--lightblue);
}

.btn-white,
.bgc-white {
    background-color: white;
}

.bgc-black {
    background-color: var(--black);
}

/* header */

header {
    font-size: 20px;
    color: white;
    height: 80px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header .container {
    align-items: center;
    height: 80px;
    padding: 0 30px;
}

header .nav-bar {
    display: none;
}

header .nav-bar ul {
    list-style-type: none;
}

header ul a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

header .btn-white {
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--black);
}

/* main */

/* section #demo */

#demo .col {
    margin-bottom: 20px;
}

#demo .card {
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#demo .large-col {
    margin-bottom: 20px;
}

#demo .d-flex-col,
#demo .large-card {
    padding: 30px 30px 0 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#demo h3 {
    display: inline-block;
    color: var(--blue);
    margin-bottom: 30px;
}

#demo .card p,
#demo .large-card p {
    line-height: 30px;
    color: var(--gray);
    font-size: 18px;
    font-weight: 700;
}

#demo .demo-img {
    height: 350px;
    display: block;
}

#demo .large-card a {

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 0;
    padding: 10px 50px;
    border-radius: 25px;
}

#demo .fa-apple {
    margin-right: 10px;
}

#demo .fa-file-code,
#demo .fa-compass-drafting,
#demo .fa-laptop-code,
#demo .fa-bullhorn {
    margin-bottom: 30px;
    display: block;
    color: var(--blue);
}

#demo .card p {
    text-align: center;
}



/* section #planning */

#planning figure {
    min-height: 400px;
}

/* section #testimonials */

#testimonials figure {
    display: inline-block;
    margin: 0 auto;
    width: 20%;
    height: 100px;
}

#testimonials {
    text-align: center;
}

#testimonials .card {
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

/* #work-with-us section */

#work-with-us .col {
    width: 100%;
    min-height: 500px;
}

#work-with-us .card {
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
}

/* #about-us section */


/* get-started section */

#get-started {
    height: 400px;
}

/* footer */

footer {
    min-height: 400px;
}