/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    padding: 50px 30px;
}

body {
    margin-top: 80px;
}

/* roots */

:root {
    --purple: #9792E4;
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --orange: #FDC15F;
    --black: #333333;
}

/* utils */

.debug .borders {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.col {
    width: 100%;
}

.bgc-purple {
    background-color: var(--purple);
}

.bgc-blue {
    background-color: var(--blue);
}

.bgc-lightblue {
    background-color: var(--lightblue);
}

.bgc-white {
    background-color: white;
}

.bgc-black {
    background-color: var(--black);
}

/* header */

header {
    height: 80px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header .nav-bar {
    display: none;
}

header .nav-bar ul {
    list-style-type: none;
}

/* main */

/* section #demo */

#demo .col {
    margin-bottom: 20px;
}

#demo .card {
    min-height: 500px;
}

#demo .large-col {
    margin-bottom: 20px;
}

#demo .large-card {
    min-height: 500px;
}

/* section #planning */

#planning figure {
    min-height: 400px;
}

/* section #testimonials */

#testimonials figure {
    display: inline-block;
    margin: 0 auto;
    width: 20%;
    height: 100px;
}

#testimonials {
    text-align: center;
}

#testimonials .card {
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

/* #work-with-us section */

#work-with-us .col {
    width: 100%;
    min-height: 500px;
}

#work-with-us .card {
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
}

/* #about-us section */


/* get-started section */

#get-started {
    height: 400px;
}

/* footer */

footer {
    min-height: 400px;
}